.father 
    background-color #101332 !important

.section 
    background-color #121A42

.hiDiv
    margin 10px 20px 0px 20px
    
.hiText 
    color #EEC491
    font-size 28px

.textColor 
    color #EEC491

.introCard
    background #DC9947
    height 88px
    border-radius 5px
    display flex
    flex-flow row nowrap
    align-items center
    justify-content space-between
    margin-bottom 2px

.introText
    margin-left 20px
    color black

.headerIntroText 
    margin-bottom 10px
    font-size 18px
    font-weight 800

.introImage
    margin-top 25px    
    height 70px;
    background-repeat no-repeat;

.humanImage 
    width 95px;
    background-image url('../../images/home/Human.svg')

.robotImage 
    width 88px
    background-image url('../../images/home/Robot.svg')

.linkImage 
    width 94px;
    background-image url('../../images/home/Link.svg')

.newOnChess
    display flex
    margin-top 50px
    margin-bottom 40px
    justify-content center
    &:first-child 
      font-size 16px
      color white

.basicLink
    color #EEC491
    text-decoration underline

.usersCount
    display flex
    flex-flow row nowrap
    align-items center
    justify-content center
    margin-bottom 8px
    font-size 13px

.iconImage 
    width 20px
    height 15px
    background-repeat no-repeat;

.userIConImage 
    background-image url('../../images/home/User.svg')

.palyingIConImage 
    background-image url('../../images/home/Swords.svg')

.toroIConImage 
    background-image url('../../images/home/Goblet.svg')


.count 
    color #EEC491
    margin-left 5px

.liveTranContainer 
    display flex
    justify-content center

.liveCardBox 
    width 320px
    background-color #121A42;

.liveTranHeader 
    margin-top 20px
    height 80px
    border-top-left-radius 5px
    border-top-right-radius 5px
    padding-top 15px
    padding-left 15px
    display flex
    flex-flow row nowrap
    align-items center
    justify-content space-between

.forwardArrow
    height 50px
    width 50px
    background-repeat no-repeat;
    background-image url('../../images/home/Forward.svg')

.liveCardBoxWithPic
    margin-top 3px
    width 320px
    background-color #151B51;

.carazyHeaderText
    margin-top 15px
    margin-left 15px
    padding 10px
    display flex
    flex-flow row nowrap
    align-items center

.happyHome
    height 20px
    width 20px
    background-repeat no-repeat;
    background-image url('../../images/home/HappyHome.svg')

.crazyHorse 
    font-size 16
    font-weight 700
    color white

.gamerInfoContaier 
    display flex
    flex-flow row nowrap
    align-items center
    justify-content space-between

.gamerInfo 
    margin-left 18px
    display flex
    flex-flow row nowrap
    align-items center

.soldierSvg
    height 20px
    width 12px
    background-repeat no-repeat;
    background-image url('../../images/home/Soldier.svg')

.horseSvg 
    height 20px
    width 15px
    background-repeat no-repeat;
    background-image url('../../images/home/Horse.svg')

.gamerName 
    margin 5px
    color white
    font-size 13
    font-weight 700

.gamerChip
    background #E3B172
    border-radius 42.7054px
    display flex
    flex-direction row
    align-items flex-start
    padding 2px 4px

.insideChip
    color black
    font-weight: bold;
    font-size: 10px;

.timeContainer 
    margin-right 18px
    display flex
    flex-direction row
    align-items center

.timeSvg 
    height 12px
    width 15px
    background-repeat no-repeat;
    background-image url('../../images/home/HourRed.svg')

.timeRemain 
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: #FD6746;

.chessContainer
    display flex
    justify-content center

.chessPlay
    margin-top 10px
    width: 280px;
    height 280px
    background-repeat no-repeat;
    background-image url('../../images/home/Chess.svg')

.gamerFooter
    margin-top 10px

.whiteSoldier 
    height 17px
    width 15px
    background-repeat no-repeat;
    background-image url('../../images/home/WhiteSoldier.svg')

.yellowSoldier
    height 25px
    width 30px
    background-repeat no-repeat;
    background-image url('../../images/home/YellowSoldier.svg')

.redTimeSvg
    height 12px
    width 15px
    background-repeat no-repeat;
    background-image url('../../images/home/HourWhite.svg')

.timeRemainFooter
    color white