.switch 
  position relative
  display inline-block
  width 32px
  height 16px

.switch input 
  opacity 0
  width 0
  height 0

.slider 
  position absolute
  cursor pointer
  top 0
  left 0
  right 0
  bottom 0
  background-color transparent
  -webkit-transition .4s
  transition .4s


.slider:before 
  position absolute
  content ""
  height 14px
  width 14px
  left -8px
  bottom 1px
  background-color gold
  -webkit-transition .4s
  transition .4s

.slider:after 
  right 8px

input:checked + .slider 
  background-color #132558

input:focus + .slider 
  box-shadow 0 0 1px #132558

input:checked + .slider:before 
  -webkit-transform translateX(26px)
  -ms-transform translateX(26px)
  transform translateX(26px)

.slider.round 
  border-radius 34px

.slider.round:before 
  border-radius 50%

.sliderBig 
    position absolute !important
    cursor pointer !important
    top 0 !important
    left 0 !important
    right 0 !important
    bottom 0 !important
    border 1px solid gold !important
    height 23px
    width 45px
  
.sliderBig:before
    position absolute !important
    content "" !important
    height 26px !important
    width 28px !important
    left -3px !important
    bottom -2px !important
    background-color #bf811d !important
    transition 0.4s !important